* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


/** Base Styles **/

h1,
h2,
h3,
h4 {
    font-family: 'Calistoga', cursive;
    margin: 5px
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}


/**** Navigation ******/

nav {
    margin: 0;
    background-color: white;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 75px;
}

nav .menu-toggle {
    display: none;
    font-size: 25px;
}

.logo-text {
    margin: 0;
}

nav>ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

nav>ul li {
    font-size: 1.2rem;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

nav>ul li a {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    right: 0px;
    transition: display 0.5s ease-in-out;
    background-color: white;
    width: 180px;
    padding-left: 0;
    z-index: 3;
}

.dropdown-menu li {
    width: 100%;
    margin-bottom: 0;
}

.dropdown-menu li a {
    padding: 20px;
    width: 100%;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    color: gray;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

nav ul i {
    padding: 0 10px;
}

nav ul li:hover ul {
    display: flex;
    flex-direction: column;
}

nav ul li a:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

nav .log-out,
nav .log-out:hover {
    color: red;
}


/******* HERO **********/

.hero {
    width: 100%;
    height: 90vh;
    background: url("../images/hiker.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-blend-mode: overlay;
}


/***** Page Wrapper *******/

.wrapper a:hover {
    color: darkgray;
}


/***** CAROUSEL ********/

.carousel {
    position: relative;
}

.carousel .carousel-title {
    text-align: center;
    margin: 30px 0;
}

.carousel .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2.2rem;
    cursor: pointer;
    color: black;
}

.carousel .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2.2rem;
    cursor: pointer;
    color: black;
}

.carousel .post-wrapper {
    display: flex;
    flex-direction: column;
    width: 84%;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
}

.carousel .post-wrapper .post {
    background-color: lightgrey;
    display: inline-block;
    height: 350px;
    margin: 0 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem darkgray;
}

.carousel .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
}

.carousel .post-wrapper .post .post-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 230px
}


/***** MEDIA QUERIES *********/

@media only screen and (max-width: 864px) {
    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
    }
    .logo-text {
        margin: 20px 0;
    }
    nav ul {
        width: 100%;
        padding: 0;
        flex-direction: column;
        margin: 10px 0 0;
        max-height: 0px;
        overflow: hidden;
    }
    nav ul li a {
        padding: 20px;
    }
    .dropdown-menu {
        position: static;
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .dropdown-menu li {
        padding-left: 30px;
    }
    nav ul li:last-of-type {
        display: flex;
        flex-direction: column;
    }
    nav .menu-toggle {
        display: block;
    }
    .showing {
        max-height: 500px;
    }
}